
*{
    background-color:#2d2f30;
}

.main-container{
    text-align:center;
}

.my-name{
    color:#fdfdfd;
    font-family:sans-serif;
}

footer{
    text-align: center;
    margin-top: 40px;
}

footer p{
    background-color: rgb(82, 79, 79);
    padding:9px;
    color:#dfd9d9;
}

.my-pic{
    
    border:3px solid rgb(129, 126, 126) ;
    border-radius: 50%;
    height:100px;
    width:100px;
}

.links-container-div{
    /* background-color: white; */
    text-align:center;
}

/* anchor tags for each link */
.direct-profile-link{
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color: #524f4f;
}

/* that div box outside each link */
.direct-profile-divs{
    border:1px solid white;
    padding:14px;
    border-radius:50px;
    background-color: #524f4f;

    margin: 15px 28%;  /* top/bottom  left/right */
}

/* mode changes icon imag */
.light-dark-mode-img{
    text-align: center;
    height:60px;
    width:60px;
}